.container {
  flex: 1;
  margin-top: 60px;
  max-width: 360px;
  min-width: 300px;
}

.fullWidth {
  max-width: 100%;
  width: 100%;
  flex: unset;
  margin-top: 0;
}

.subtitle {
  color: rgb(16, 172, 157);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--textColor);
  margin-bottom: 4px;
  margin-top: 6px;
}

.title:not(:first-of-type) {
  margin-top: 6px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 320px;
    min-width: 280px;
  }

  .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .container:not(.fullWidth) {
    display: none;
  }

  .fullWidth {
    margin-top: 0;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 22px;
  }
}
