.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 40px;
  }

  .content {
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    gap: 30px;
  }

  .content {
    flex-direction: column;
    gap: 20px;
  }
}
