.container {
  width: 50px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5px;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
